body{
				margin:0px;
				padding:0px;
				background-color:#080808;
				font-family:"Baloo Da 2";
				}
header{
				text-align:center;
				color:white;
				top:30px;
				margin-bottom:1.5pc;
				}
.heading1{
				font-family:"Baloo Da 2";
				font-size:45px;
				to:20px;
				background-colo:green;
				animation:bigger 1.5s ease  1;
				}
.moving{
				visibility:hidden;
				margin-top:2pc;
				}
.moving2{
				visibility:hidden;
				margin-left:12px;
				}
.move1{
				animation:appear1 1s ease 0s 1 forwards;
				}
.move2{
				animation:appear1 1s ease 0.4s 1 forwards;
				}
.move3{
				animation:appear1 1s ease 0.8s 1 forwards;
				}
.move4{
				animation:appear1 1s ease 1.2s 1 forwards;
				}
.move5{
				animation:appear1 1s ease 1.6s 1 forwards;
				}
.move6{
				animation:appear1 1s ease 2.0s 1 forwards;
				}
.move7{
				animation:appear1 1s ease 2.4s 1 forwards;
				}
.move8{
				animation:appear1 1s ease 2.8s 1 forwards;
				}
.move9{
				animation:appear1 1s ease 3.2s 1 forwards;
				}
.move10{
				animation:appear1 1s ease 3.6s 1 forwards;
				}
.move11{
				animation:appear1 1s ease 4s 1 forwards;
				}
.move12{
				animation:appear1 1s ease 4.4s 1 forwards;
				}
.move13{
				animation:appear1 1s ease 4.8s 1 forwards;
				}
@keyframes appear1{
				0%{visibility:hidden;}
				90%{visibility:hidden;}
				100%{visibility:visible;}
				}
@keyframes bigger{
				0%{transform:scale(0,0);}
				100%{transform:scale(1,1);}
				}
.heading2{
				font-family:"Baloo Da 2";
				font-size:25px;
				to:20px;
				margin-top:-1.5pc;
				}
.heading3{
				font-family:"Baloo Da 2";
				font-siz:2px;
				margin-top:2pc;
				}
.first{
				width:100%;
				background-colo:pink;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				}
.suba1{
				display:flex;
				flex-direction:column;
				}
.wars1{
				width:100px;
				border:2px solid #dbdbdb;
				}			
.wars2{
				width:100px;
				heigh:auto;
				border:2px solid #dbdbdb;
				}
.wars3{
				width:200px;
				height:122px;
				border:2px solid #dbdbdb;
				}
.second{
				width:100%;
				background-colo:pink;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				}
.wars4{
				width:100px;
				border:2px solid #dbdbdb;
				}			
.wars5{
				width:100px;
				heigh:auto;
				border:2px solid #dbdbdb;
				}
.wars6{
				width:100px;
				heigh:122px;
				border:2px solid #dbdbdb;
				}
.third{
				width:100%;
				background-colo:pink;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				}
.wars7{
				width:100px;
				border:2px solid #dbdbdb;
				}			
.wars8{
				width:100px;
				heigh:auto;
				border:2px solid #dbdbdb;
				}
.wars9{
				width:100px;
				heigh:122px;
				border:2px solid #dbdbdb;
				}
.fourth{
				width:100%;
				background-colo:pink;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				}
.suba2{
				display:flex;
				flex-direction:column;
				}
.wars10{
				width:100px;
				border:2px solid #dbdbdb;
							
				}			
.wars11{
				width:100px;
				heigh:auto;
				border:2px solid #dbdbdb;
				}
.wars12{
				
				width:200px;
				heigh:122px;
				border:2px solid #dbdbdb;
				}
.gallery1{
				margin-bottom:8pc;
				
				}
.fifth{
				width:100%;
				margin:auto;
				display:flex;
				justify-content:center;
				}
.anim1{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim2{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim3{
				width:100px;
				border:2px solid #dbdbdb;
				}
.sixth{
				width:100%;
				margin:auto;
				display:flex;
				justify-content:center;
				}
.subb1{
				display:flex;
				flex-direction:column;
				}
.anim4{
				width:200px;
				border:2px solid #dbdbdb;
				}
.anim5{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim6{
				width:100px;
				border:2px solid #dbdbdb;
				}
.seventh{
				width:100%;
				margin:auto;
				display:flex;
				justify-content:center;
				}
.subb2{
				display:flex;
				flex-direction:column;
				}
.anim7{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim8{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim9{
				width:200px;
				height:208px;
				border:2px solid #dbdbdb;
				}
.eighth{
				width:100%;
				margin:auto;
				display:flex;
				justify-content:center;
				}
.anim10{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim11{
				width:100px;
				border:2px solid #dbdbdb;
				}
.anim12{
				width:100px;
				border:2px solid #dbdbdb;
				}
#plus{
				font-family:"Baloo Da 2";
				color:white;
				text-align: center;
				visibility:hidden;
				}
.plus0{
				background-color:#181818;
				padding:3px;
				}
.plusa{
				font-size:30px;
				}
.slide_up{
				background-colo:green;
				visibility:hidden;
				animation:bigger2 1.5s ease  1 forwards;
				}
@keyframes bigger2{
				0%{transform:scale(0,0);}
				99%{transform:scale(1,1);}
				100%{visibility:visible;}
				}
aside{
				padding-top:4pc;
				padding-bottom:2pc;
				font-family:"Baloo Da 2";
				color:white;
				text-align: center;
				background-color:#101010;
				}
.down{
				background-color:;
				}
.ninth, .tenth, .eleventh{
				color:white;
				padding:2pc auto;
				text-align:center;
				padding:30px;
				}
.tenth{
				padding:5px;
				}
.ninth1, .tenth1, .eleventh1{
				font-size:30px;
				padding-bottom:0pc;
				}
.ninth2, .tenth2, .eleventh2{
				margin:auto 2%;
				}
hr{
				height:3px;
				background-color:grey;
				border:none;
				margin:0px;
				}
.grey{
				background-color:#101010;
				padding:1pc;
				}
.ninth{
				background-color:#181818;
				}
.tenth{
				background-color:#202020;
				}
.eleventh{
				background-color:#181818;
				}
.myownlogo{
				width:90px;
				height:90px;
				background-image:url(myownlogo.jpg);
				background-size:cover;
				border-radius:50%;
				margin:1pc auto 2.5pc auto;
				}				
.icon{
				margin:auto;
				width:40px;
				height:40px;
				}		
footer{
				color:white;
				padding-top:6pc;
				padding:20px;
				background-color:rgba(120,120,120,0.2);		
				border-top:5px solid rgba(190 ,190, 190,0.4);	
				}		
.footicon{
				display:flex;
				justify-content: center;
				}
.speech{
				text-align:center;
				}							
				
/* MEDIA QUERY BEGINS */

@media (min-width:767px){
hr{display:none;}
.flex1{display:flex;
       justify-content: space-around;
}				
.down{
				background-color:;
				display:flex;
				justify-content: space-around;
				align-ite:center;
				}			
.ninth, .tenth, .eleventh{
				width:30%;
				}
.tenth{
			  padding-top:2.1pc;
				}	
#plus{
				display:none;
				}				
				
				
}

